body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: green;

}
h1{
    color: goldenrod;
}
#message-el{
    font-style: italic;
}
button{
    color:darkgreen;    
    width: 150px;
    background-color:goldenrod;
}